In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Read in the test file
df_test = pd.read_csv('./data/df_test.csv')
df_test.reset_index(inplace=True, drop=True)
df_test.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,running_position_6,race_id,recent_6_runs,recent_ave_rank,race_distance,HorseWin,HorseRankTop3,HorseRankTop50Percent,jockey_ave_rank,trainer_ave_rank
0,1,5.0,POWERMAX,A009,N Callan,R Gibson,126,1124,9,-,...,NaN,2016-328,1/4/3/3,2.750000,1200,1,1,1,6.438751,6.715420
1,2,2.0,BUDDY BUNDY,T157,K K Chiong,D Cruz,127,1193,8,SH,...,NaN,2016-328,2/11/5/2/6/9,6.812500,1200,0,1,1,6.499033,7.381862
2,3,3.0,ROYALE ELEGANCE,S098,O Murphy,W Y So,131,1090,1,1/2,...,NaN,2016-328,3/2/4/4/5/7,4.480000,1200,0,1,1,8.103093,7.048587
3,4,11.0,CONFUCIUS SPIRIT,S329,K Teetan,D E Ferraris,120,1073,2,1-1/4,...,NaN,2016-328,4/3/5/8/2/4,6.484848,1200,0,0,1,6.691367,6.611465
4,5,10.0,STARLIGHT,V273,Z Purton,C H Yip,122,1056,12,1-1/4,...,NaN,2016-328,5/6/14/12,9.250000,1200,0,0,1,5.284127,7.177492

In [3]:
df_test.columns

Index(['finishing_position', 'horse_number', 'horse_name', 'horse_id',
       'jockey', 'trainer', 'actual_weight', 'declared_horse_weight', 'draw',
       'length_behind_winner', 'running_position_1', 'running_position_2',
       'running_position_3', 'running_position_4', 'finish_time', 'win_odds',
       'running_position_5', 'running_position_6', 'race_id', 'recent_6_runs',
       'recent_ave_rank', 'race_distance', 'HorseWin', 'HorseRankTop3',
       'HorseRankTop50Percent', 'jockey_ave_rank', 'trainer_ave_rank'],
      dtype='object')

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5864 entries, 0 to 5863
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   finishing_position     5864 non-null   int64
 1   horse_number           5864 non-null   float64
 2   horse_name             5864 non-null   object
 3   horse_id               5864 non-null   object
 4   jockey                 5864 non-null   object
 5   trainer                5864 non-null   object
 6   actual_weight          5864 non-null   int64
 7   declared_horse_weight  5864 non-null   int64
 8   draw                   5864 non-null   int64
 9   length_behind_winner   5864 non-null   object
 10  running_position_1     5864 non-null   float64
 11  running_position_2     5864 non-null   float64
 12  running_position_3     5864 non-null   float64
 13  running_position_4     3216 non-null   float64
 14  finish_time            5864 non-null   object
 15  win_odds               5864 non-null   float64
 16  running_position_5     771 non-null    float64
 17  running_position_6     148 non-null    float64
 18  race_id                5864 non-null   object
 19  recent_6_runs          5864 non-null   object
 20  recent_ave_rank        5864 non-null   float64
 21  race_distance          5864 non-null   int64
 22  HorseWin               5864 non-null   int64
 23  HorseRankTop3          5864 non-null   int64
 24  HorseRankTop50Percent  5864 non-null   int64
 25  jockey_ave_rank        5864 non-null   float64
 26  trainer_ave_rank       5864 non-null   float64
dtypes: float64(11), int64(8), object(8)
memory usage: 1.2+ MB

In [7]:
# Keep the features we want to train our model on
X_test = df_test[['actual_weight', 'declared_horse_weight',
                  'draw', 'win_odds', 'jockey_ave_rank',
                  'trainer_ave_rank', 'recent_ave_rank', 'race_distance']]

In [9]:
X_test.notnull().sum()

actual_weight            5864
declared_horse_weight    5864
draw                     5864
win_odds                 5864
jockey_ave_rank          5864
trainer_ave_rank         5864
recent_ave_rank          5864
race_distance            5864
dtype: int64